<h2>Checkout</h2>
<jhi-alert></jhi-alert>
<div *ngIf="orderItems.length > 0; else noOrderItems">
    <form novalidate (ngSubmit)="finish()" #form="ngForm">
        <div class="container-fluid mt-3">
            <h5><span class="fa fa-shopping-cart"></span> Order Items</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let orderItem of orderItems">
                    <div class="row">
                        <div class="col-md-2">
                            <img [src]="orderItem.product.imagePath" class="max-height-s">
                        </div>
                        <div class="col-md-5 p-1">
                            <p class="small">{{orderItem.product.name}}</p>
                        </div>
                        <div class="col-md 2 p-1">
                            <p>{{orderItem.product.price | currency:'USD':true}}</p>
                        </div>
                        <div class="col-md-2 p-1">
                            <input type="number" id="quantity" name="quantity" class="form-control" min="0"
                                   placeholder="Quantity.." [(ngModel)]="orderItem.quantity">
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger btn-sm mt-1" type="button"
                                    (click)="removeItem(orderItem.product.id)">X
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
        <div class="container-fluid">
            <h5><span class="fa fa-address-card"></span> Shipping Address</h5>
            <p>Address stuff</p>
        </div>
        <hr>
        <div class="container-fluid">
            <h5><span class="fa fa-credit-card"></span> Payment</h5>
            <p>Payment stuff</p>
        </div>
        <hr>
        <div class="container-fluid text-center">
            <button class="btn btn-success" type="submit" [disabled]="form.invalid">
                <span class="fa fa-shopping-bag"></span> Finish
            </button>
        </div>
    </form>
</div>
<ng-template #noOrderItems>
    <p>There are no products in your basket.</p>
</ng-template>
