<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="settingsAccount">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                           placeholder="Your first name"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel"
                           required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="firstNameInput.errors.required">
                            Your first name is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="firstNameInput.errors.minlength">
                            Your first name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="firstNameInput.errors.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel"
                           required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="lastNameInput.errors.required">
                            Your last name is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="lastNameInput.errors.minlength">
                            Your last name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="lastNameInput.errors.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100" #emailInput="ngModel" email
                           required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.required">
                            Your email is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.email">
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.minlength">
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="emailInput.errors.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <h4>Home Address</h4>
                <div class="form-group">
                    <label class="form-control-label" for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Your home address"
                           [(ngModel)]="settingsAccount.homeAddress.address" minlength="5" maxlength="255"
                           #addressInput="ngModel" required>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Your home city"
                           [(ngModel)]="settingsAccount.homeAddress.city" minlength="3" maxlength="255"
                           #cityInput="ngModel" required>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="state">State</label>
                    <select class="form-control" id="state" name="state" [(ngModel)]="settingsAccount.homeAddress.state"
                           #stateInput="ngModel" required>
                        <option value="">Select a state</option>
                        <option value="{{state}}" *ngFor="let state of states">{{state}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="postal_code">Postal Code</label>
                    <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Your home postal code"
                           [(ngModel)]="settingsAccount.homeAddress.postalCode" minlength="3" maxlength="255"
                           #postalCodeInput="ngModel" required>
                </div>
                <h4>Billing Address</h4>
                <div class="form-group">
                    <label class="form-control-label" for="billing_address">Address</label>
                    <input type="text" class="form-control" id="billing_address" name="billing_address" placeholder="Your billing address"
                           [(ngModel)]="settingsAccount.billingAddress.address" minlength="5" maxlength="255"
                           #billingAddressInput="ngModel" required>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="billing_city">City</label>
                    <input type="text" class="form-control" id="billing_city" name="billing_city" placeholder="Your billing city"
                           [(ngModel)]="settingsAccount.billingAddress.city" minlength="3" maxlength="255"
                           #billingCityInput="ngModel" required>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="billing_state">State</label>
                    <select class="form-control" id="billing_state" name="billing_state" [(ngModel)]="settingsAccount.billingAddress.state"
                            #billingStateInput="ngModel" required>
                        <option value="">Select a state</option>
                        <option value="{{state}}" *ngFor="let state of states">{{state}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="billing_postal_code">Postal Code</label>
                    <input type="text" class="form-control" id="billing_postal_code" name="billing_postal_code"
                           placeholder="Your billing postal code" [(ngModel)]="settingsAccount.billingAddress.postalCode" minlength="3" maxlength="255"
                           #billingPostalCodeInput="ngModel" required>
                </div>
                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

</div>
