<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let type of productTypes">{{type.name}}</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>Featured Products</h3>
        <div class="row" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <jhi-product-card *ngFor="let product of products;trackBy: trackId" [product]="product"></jhi-product-card>
        </div>
    </div>
</div>
