<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"><a href="#" (click)="addFilter('')">All</a></li>
            <li class="list-group-item" *ngFor="let type of productTypes">
                <a href="#" (click)="addFilter(type.name)">{{type.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>Featured Products <span class="text-muted" *ngIf="typeToFilter.length > 0">[{{typeToFilter}}]</span></h3>
        <div class="row" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <jhi-product-card
                *ngFor="let product of products | filter:'type':'name':typeToFilter;trackBy: trackId"
                [product]="product">
            </jhi-product-card>
        </div>
    </div>
</div>
